* {
  -webkit-user-select: none;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
  background: #000;
}

.game {
  width: 1100px;
  height: 600px;
  margin: 20px auto;
}

h1 {
    color: white;
    text-align: center;
}
a, a:visited {
    color: white;
}



