<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li><a ng-href="#">Home</a></li>
      </ul>
</div>
</nav>

<div class="well">
  <h2 class="about-me">Setze die Akteure</h2>
  <p class="lead">
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    <span class="sr-only">60% Complete</span>
  </div>
</div>
<form class="form-horizontal" ng-submit="saveActors()">
<fieldset>

<!-- Form Name -->
<legend></legend>

<button type="button" class="btn btn-primary" ng-click="addActor()">Akteur hinzufügen <span class="glyphicon glyphicon-plus"></span></button>

<div ng-repeat="actor in actors" style="margin-top: 10px;">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          {{actor.name}}
        </a>
        <button type="button" ng-click="removeActor($index)" class="btn btn-danger" type=""><span class="glyphicon glyphicon-remove"></span></button>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="textinput">Name</label>  
  <div class="col-md-10">
  <input id="textinput" name="textinput" ng-model="actor.name" type="text" placeholder="Name" title="Dem Aktor einen Namen geben." class="form-control input-md" required>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-2 control-label" for="textarea">Erklärung</label>
  <div class="col-md-10">                     
    <textarea class="form-control" ng-model="actor.description" placeholder="Erklärung" id="textarea" name="textarea" title="Hier Erklärung zu dem Aktoren eingeben."></textarea>
  </div>
</div>
<!-- Textarea -->
<div class="form-group">
  <label class="col-md-2 control-label" for="textarea">Dialog</label>
  <div class="col-md-10">                     
    <textarea class="form-control" id="textarea" ng-model="actor.dialog" placeholder="Dialog" name="textarea" title="Hier Dialog für den Aktor eingeben"></textarea>
  </div>
</div>

      <!-- Select Basic -->
<div class="form-group">
  <label class="col-md-2 control-label" for="selectbasic">Bild</label>
  <div class="col-md-10">
    <select ng-model="actor.image" id="selectbasic" name="selectbasic" class="form-control">
      <option ng-repeat="item in selector.actors" value="{{item.image}}">{{item.name}}</option>
    </select>
  </div>
</div>
    </div>
  </div>
</div>
<!-- button class="btn btn-primary btn-lg btn-block" >Weiter <span class="glyphicon glyphicon-arrow-right" style="position: right;"></button -->
</div>
<!-- Button (Double) -->
<div class="form-group">
  <div class="col-md-12">
    <a id="back" name="back" href="#/game" class="pull-left btn btn-warning" ><span class="glyphicon glyphicon-arrow-left"></span> Zurück</a>
    <button id="continue" type="submit" name="continue" class="pull-right btn btn-primary">Weiter <span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
</div>

</fieldset>




</form>


  </p>
</div>

<!-- div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div -->

<div class="footer">
  
</div>

