<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li><a ng-href="#">Home</a></li>
      </ul>
</div>
</nav>

<div class="jumbotron">
  <h1>Gratulation</h1>
  <p>Das Spiel ist fertig. Viel Spaß!</p>
    <p><a class="btn btn-lg btn-success" ng-href="play.html">Spiel starten <span class="glyphicon glyphicon-ok"></span></a></p>
      <!-- p><a class="btn btn-success" ng-href="#/map"><my-download id="content" get-data="getBlob()" /> <span class="glyphicon glyphicon-save"></span></a></p -->
</div>