<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li><a ng-href="#/">Home</a></li>
      </ul>
</div>
</nav>

<div class="well">
  <h2 class="about-me">Beschreibe dein Spiel</h2>
  <p class="lead">

<!-- Formular -->
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;">
    <span class="sr-only">20% Complete</span>
  </div>
</div>


<form class="form-horizontal" ng-submit="save()">
<fieldset>

<!-- Form Name -->
<legend></legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="name">Spielname</label>  
  <div class="col-md-10">
  <input ng-model="meta.name" id="name" name="name" type="text" placeholder="Mein Newsgame" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-2 control-label" for="topic">Thema</label>  
  <div class="col-md-10">
  <input ng-model="meta.topic" id="topic" name="topic" type="text" placeholder="Mein Thema" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-2 control-label" for="description">Beschreibung</label>
  <div class="col-md-10">                     
    <textarea ng-model="meta.description" class="form-control" id="description" name="description">Informationen rund um das Thema des Spiels</textarea>
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  <label class="col-md-2 control-label" for="tutorial">Einführung</label>
  <div class="col-md-10">                     
    <textarea class="form-control" ng-model="meta.tutorial" name="tutorial">Erzähle dem Nutzer etwas zum Spielziel und seinen Interaktionsmöglichkeiten</textarea>
  </div>
</div>

<div class="form-group">
  <label class="col-md-2 control-label" for="selectbasic">Hintergrundbild</label>
  <div class="col-md-10">
    <select ng-model="meta.image" id="selectbasic" name="selectbasic" class="form-control">
      <option ng-repeat="item in image.img"  value="{{item.img}}">{{item.name}}</option>
    </select>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class=" control-label" for="reset"></label>
  <div class="col-md-12">
    <a id="reset" name="reset" class="pull-left btn btn-warning" href="#/"><span class="glyphicon glyphicon-arrow-left"></span> Zurück</a>
    <button id="continue" name="continue" class="pull-right btn btn-primary" >Weiter <span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
</div>

</fieldset>
</form>



<!-- Formular -->
    
  </p>
</div>


<div class="footer">

</div>
