<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li class="active"><a ng-href="#/">Home</a></li>
      </ul>
</div>
</nav>
<div class="jumbotron">
  <h1>Hallo Redaktionär!</h1>
  
  <h2 class="about-me">Ich bin Newsgameify!</h2>
  <p class="lead">
  <img src="assets/images/icon.png" class="icon" alt="Newsgameify">
      <br/>
    Du kannst mich verwenden, um Newsgames zu generieren. Bitte folge einfach meinen Anweisungen.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/game">Spiel anlegen </a></p>
</div>

<div class="footer">

</div>
