<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li><a ng-href="#/">Home</a></li>
      </ul>
</div>
</nav>

<div class="well">
  <h2 class="about-me">Platziere die Spieler</h2>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
    <span class="sr-only">80% Complete</span>
  </div>
</div>


<form class="form-horizontal" ng-submit="save()">
<fieldset>

<!-- Form Name -->
<legend></legend>

<div class="col-md-2">
  <select id="item-type">
  </select>
</div>
<div class="col-md-10" style="padding-bottom: 10px;"> 
  <div id="newsgame-game" class="game"></div>
</div>
<br>
<div class="form-group" style="margin-top: 10px;">
  <label class=" control-label" for="reset"></label>
  <div class="col-md-12">
    <a id="reset" name="reset" class="pull-left btn btn-warning" href="#/actors"><span class="glyphicon glyphicon-arrow-left"></span> Zurück</a>
    <button id="continue" name="continue" class="pull-right btn btn-primary" >Weiter <span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
</div>

<!-- Button (Double) -->

</fieldset>
</form>



</div>


<div class="footer">

</div>
