<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li><a ng-href="#/">Home</a></li>
      </ul>
</div>
</nav>