<nav class="navbar navbar-default" role="navigation">
<div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Newsgameify</a>
    </div>

      <ul class="nav navbar-nav ">
        <li { active: isActive('/')}><a ng-href="#">Home</a></li>
        <li { active: isActive('/uns')}><a ng-href="#/uns">Über uns</a></li>
        <li { active: isActive('/kontakt')}><a ng-href="#/kontakt">Kontakt</a></li>
      </ul>
</div>
</nav>